/* Cor do input search no header */
.searchIcon, .searchBarContainer :first-child{
    color: #727273;
    border: 0px;
    /* background-color: transparent; */
}

.searchBarInnerContainer :nth-child(3n){
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.imageElement{
    border-radius: 20px;
}

.carouselGaleryThumbs{
    display: none;
}

.productBrand{
    color: white;
}

.imageElement--whatsapp{
    position: fixed;
    bottom: 10px;
    z-index: 999;
    right: 0px;
}